@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 40px 100px;
}
h1, h2, p, .nav_grey{
    color: #506269;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
.nav_red{
    font-weight: bold;
}
span, .nav_red{
    color: #a5410f;
}
header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 30px;
}
nav{
    width: 300px;
    text-align: center;
}
a{
    text-decoration: none;
    margin: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}
p{
    margin: 20px 0;
}
.quadro{
    width: 300px;
}
button{
    background-color: #a5410f;
    color: white;
    border: none;
    width: 300px;
    height: 47px;
    cursor: pointer;
}
img{
    height: 500px;
}
@media (max-width: 960px){
    main{
        flex-direction: column-reverse;
    }
    img{
        height: 400px;
    }
}
@media (max-width: 600px){
    header{
        flex-direction: column;
    }
}